body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}

output {
    background-color: rgb(77, 189, 137);
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.calculator {
    padding: 3px;
    border: 4px solid rgb(24, 85, 24);
    display: inline-block;
    background-color: rgb(0, 77, 51);
    border-radius: 10px;
}
.display {
    width: 300px;
    margin-bottom: 5px;
    border: 3px solid grey;
    border-radius: 5px;

}

.expression {
    height: 30px;
    font-size: 20px;
    align-items: flex-start;
}

.current-output {
    height: 70px;
    font-size: 50px;
}

.buttons {
    display: grid;
    width: 306px;
    height: 300px;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 2px;
}

button {
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


/* CSS Graveyard */
/* .double-length { */
    /* grid-column-end: span 2; */
/* } */